@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #535C91;
  --color-darkTheme: #1B1A55;
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;
  --shadow-black: 4px 4px #000;
  --shadow-white: 4px 4px #fff;
  --grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


@layer utilities {
  .bg-darktheme {
    background-color: var(--color-darkTheme);
  }
  
  .bg-lightHover {
    background-color: var(--color-lightHover);
  }
  
  .font-outfit {
    font-family: var(--font-Outfit);
  }
  
  .font-ovo {
    font-family: var(--font-Ovo);
  }
  
  .shadow-black {
    box-shadow: var(--boxShadow-black);
  }
  
  .shadow-white {
    box-shadow: var(--boxShadow-white);
  }

  .grid-cols-auto {
    grid-template-columns: var(--grid-template-columns);
  }
}